<center style="margin-top: 20%">
    <h1>INSTADOWN</h1>
    <form method="post" action="">
        <input type="text" id="url" name="url" placeholder="URL" />
        <button type="submit">Submit</button>
    </form>
    {% if content_dow %}
        {% if content_dow.video%}
            Video - <a href="{{content_dow.video}}" download="">{{ content_dow.title[:60] }} </a>. 
        {% elif content_dow.image%}
            Image - <a href="{{content_dow.image}}" download="">{{ content_dow.title[:60] }} </a>.
        {%else%}
            erro ao buscar arquivo
        {% endif %}
    {% endif %}
</center>